node_modules/node-red/flows_dhcp-9-20-217-219.hursley.ibm.com.json
[{"type":"tab","id":"1b6f5512.e490ab","label":"Sheet 1"},{"id":"43900c9a.bc6ff4","type":"http in","name":"post_catcher","url":"/post","method":"post","x":123.20001220703125,"y":185.1999969482422,"z":"1b6f5512.e490ab","wires":[["cf1bb740.30e448","9d20039f.62e","a347992f.5cb868"]]},{"id":"9d20039f.62e","type":"json","name":"","x":345,"y":350,"z":"1b6f5512.e490ab","wires":[["31965ea3.ce69a2"]]},{"id":"cf1bb740.30e448","type":"debug","name":"","active":true,"console":false,"complete":false,"x":405,"y":123,"z":"1b6f5512.e490ab","wires":[]},{"id":"9c6bca8e.639438","type":"http response","name":"test","x":630,"y":204,"z":"1b6f5512.e490ab","wires":[]},{"id":"31965ea3.ce69a2","type":"file","name":"raw_json","filename":"raw.json","appendNewline":true,"overwriteFile":false,"x":560,"y":303,"z":"1b6f5512.e490ab","wires":[]},{"id":"a347992f.5cb868","type":"function","name":"response_test","func":"msg.payload = \"thanks\";\nreturn msg;","outputs":1,"x":416,"y":203,"z":"1b6f5512.e490ab","wires":[["9c6bca8e.639438"]]}]