node_modules/node-red/flows.backup
[{"type":"tab","id":"1b6f5512.e490ab","label":"PostCatcher"},{"id":"43900c9a.bc6ff4","type":"http in","name":"post_catcher","url":"/post","method":"post","x":95.20001220703125,"y":146.1999969482422,"z":"1b6f5512.e490ab","wires":[["9d20039f.62e"]]},{"id":"9d20039f.62e","type":"json","name":"","x":218,"y":96,"z":"1b6f5512.e490ab","wires":[["15cf5555.ea30ab"]]},{"id":"31965ea3.ce69a2","type":"file","name":"raw_json","filename":"raw.json","appendNewline":false,"overwriteFile":true,"x":1105,"y":343,"z":"1b6f5512.e490ab","wires":[]},{"id":"ef005a61.10ffa8","type":"file in","name":"reader","filename":"raw.json","format":"utf8","x":341,"y":354,"z":"1b6f5512.e490ab","wires":[["9eacc44a.615338","31965ea3.ce69a2","fa6903bd.0597"]]},{"id":"9eacc44a.615338","type":"debug","name":"","active":true,"console":false,"complete":false,"x":622,"y":191,"z":"1b6f5512.e490ab","wires":[]},{"id":"15cf5555.ea30ab","type":"function","name":"","func":"msg.latest = msg.payload\n\nreturn msg;","outputs":1,"x":293,"y":174,"z":"1b6f5512.e490ab","wires":[["ef005a61.10ffa8","96f7a14d.69086"]]},{"id":"d8ad3e97.2752c","type":"function","name":"","func":"var new_msg = [];\n\n// check vars are in order\nconsole.log(typeof msg, typeof msg.payload, typeof msg.latest);\n\n// iterate over json pulled from file\nvar m = msg.payload;\nfor (j in m){\n\tnew_msg.push(m[j]);\n}\nnew_msg.push(msg.latest);\n\nreturn new_msg;","outputs":1,"x":657,"y":484,"z":"1b6f5512.e490ab","wires":[["1aa1cc12.e55e34","31965ea3.ce69a2"]]},{"id":"1aa1cc12.e55e34","type":"debug","name":"","active":true,"console":"false","complete":"true","x":998,"y":268,"z":"1b6f5512.e490ab","wires":[]},{"id":"fa6bf6b0.059408","type":"inject","name":"testJson","topic":"","payload":"{\"test\":\"payload\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":100,"y":54,"z":"1b6f5512.e490ab","wires":[["9d20039f.62e"]]},{"id":"96f7a14d.69086","type":"debug","name":"","active":true,"console":false,"complete":false,"x":512,"y":93,"z":"1b6f5512.e490ab","wires":[]},{"id":"fa6903bd.0597","type":"json","name":"","x":458,"y":482,"z":"1b6f5512.e490ab","wires":[["d8ad3e97.2752c"]]}]